@import "bulma/sass/utilities/_all";
@import "pallete";
@import "bulma/bulma";


nav.navbar .container {
  border-bottom-color: rgba(24, 24, 24, 0.85);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.navbar-item img {
  max-height: none;
}
